/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700 */

/* font family link */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --Bright_orange: hsl(31, 77%, 52%);
  --Dark_cyan: hsl(184, 100%, 22%);
  --very_dark: hsl(179, 100%, 13%);
  --color_paragraf: hsla(0, 0%, 100%, 0.75); /*parapgraph*/
  --very_light: hsl(0, 0%, 95%); /*for background, heading, buttons */
  --f_lexend: "Big Shoulders Display", cursive;
  --f_bigsholders: "Lexend Deca", sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--very_light);
}

.card {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
}

.card > article {
  max-width: 300px;
  padding: 45px;
}

.card img {
  margin-bottom: 20px;
}
.card h1 {
  font-family: var(--f_lexend);
  font-size: 40px;
  color: var(--very_light);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.card p {
  font-family: var(--f_bigsholders);
  color: var(--very_light);
  font-size: 15px;
  margin-bottom: 85px;
}

.card a {
  text-decoration: none;
  background-color: var(--very_light);
  padding: 15px 25px;
  border-radius: 50px;
  font-size: 15px;
  font-family: var(--f_bigsholders);
}
.card a:hover {
  background-color: transparent;

  border: 1px solid var(--very_light);
  color: var(--very_light);
}

.sedan {
  background-color: var(--Bright_orange);
}

.sedan a {
  color: var(--Bright_orange);
}

.suvs {
  background-color: var(--Dark_cyan);
}

.suvs a {
  color: var(--Dark_cyan);
}

.luxury {
  background-color: var(--very_dark);
}

.luxury a {
  color: var(--very_dark);
}

@media (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
  }
}
